#block-pricing_table-block_pricing_table h2.block-title{
  display: none;
}

#appnovation-pricing-table.responsive{
  display:none;
}

#appnovation-pricing-table{
  width: 100%;
  table-layout: fixed;
}
#appnovation-pricing-table td{
  border: 3px solid #DEDEDE;
  padding:15px;
  text-align: center;
  background-color: #fff;
}
#appnovation-pricing-table td strong{
  font-weight: 900;
  font-size: 17px;
}
#appnovation-pricing-table td.pricing-table-header{
  border:none;
  text-align: right;
  vertical-align: bottom;
  padding:0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Oswald, sans-serif;
  color:#199EA2;
}
#appnovation-pricing-table td.pricing-table-header .smaller-text{
  font-size: 12px;
  line-height: 14px;
  display: block;
  text-transform: initial;
}
#appnovation-pricing-table td.pricing-table-header div{
  white-space: nowrap;
  border-bottom: 3px solid #DEDEDE;
  margin-bottom: -2px;
  width: 50%;
  float: right;
  direction: rtl;
  padding-right:25px;
}

#appnovation-pricing-table td div.package {
  font-style:italic;
  font-size: 24px;
  text-transform:uppercase;
  font-family: Oswald, sans-serif;
}

#appnovation-pricing-table td div.package .price{
  margin-top: 15px;
  font-style: normal;
  display: block;
  white-space: nowrap;
  text-transform: initial;
}

#appnovation-pricing-table td div.package .smaller-text{
  font-size: 10px;
  line-height: 16px;
  display: block;
  font-style: normal;
}

#appnovation-pricing-table td div.package sub{
  font-family: Brush Script MT, sans-serif;
  text-transform: lowercase;
}

#appnovation-pricing-table td div.global .larger-text{
  font-size: 20px;
}
#appnovation-pricing-table td div.global{
  font-size: 12px;
  line-height: 14px;
}

#appnovation-pricing-table td div.detail .larger-text{
  font-size: 20px;
}
#appnovation-pricing-table td div.detail{
  font-size: 10px;
  line-height: 14px;
  white-space: nowrap;
}
#appnovation-pricing-table td div.detail strong{
  font-size: 10px;
  line-height: 14px;
}

#appnovation-pricing-table td div.global .three-column>div{
  width:33.3%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}


#appnovation-pricing-table td:nth-child(2){
  background:url('../image/business-bg.png');
}

#appnovation-pricing-table td:nth-child(3){
  background:url('../image/corporate-bg.png');
}
#appnovation-pricing-table td:nth-child(4){
  background:url('../image/enterprise-bg.png');
}
#appnovation-pricing-table td:nth-child(5){
  background:url('../image/enterpriseplus-bg.png');
}
#appnovation-pricing-table td.global{
  background:#fff;
}

#appnovation-pricing-table td .feature-on{
  background: url('../image/star.svg');
  width:40px;
  height:40px;
  margin:0 auto;
}
#appnovation-pricing-table td .feature-text{
  font-size: 8px;
  height:0;
}

#appnovation-pricing-table .three-column{
  text-align: left;
}

#appnovation-pricing-table td div.global h5{
  font-weight: bold;
}

#appnovation-pricing-table td div.global ul{
  margin:0;
  list-style: initial;
  padding-left: 20px;
}

#appnovation-pricing-table td div.global li{
  margin:0;
}




@media (max-width: 980px){
  #appnovation-pricing-table{
    display:none;
  }
  #appnovation-pricing-table.responsive{
    display:table;
    width:100%;
  }

  #appnovation-pricing-table.responsive td div.global .three-column>div{
    width:100%;
    float: none;
    padding-right: 15px;
    box-sizing: border-box;
  }

  #appnovation-pricing-table td.pricing-table-header div{
    white-space: normal;
    border-bottom: 3px solid #DEDEDE;
    margin-bottom: -2px;
    margin-right: 0;
    float:none;
    width:initial;
  }

  #appnovation-pricing-table tr.business td:not(.pricing-table-header){
    background:url('../image/business-bg.png');
  }

  #appnovation-pricing-table tr.corporate td:not(.pricing-table-header){
    background:url('../image/corporate-bg.png');
  }
  #appnovation-pricing-table tr.enterprise td:not(.pricing-table-header){
    background:url('../image/enterprise-bg.png');
  }
  #appnovation-pricing-table tr.enterprise-plus td:not(.pricing-table-header){
    background:url('../image/enterpriseplus-bg.png');
  }
}
